body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url(img/bg3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container{
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: space-around;
    justify-content: center;
}
.userInput{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
    font-family: Arimo;
    color: rgb(247, 200, 200);
}
input{
    margin: 10px;
    height: 35px;
    width: 65px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: Arimo;
    background-color: rgb(247, 224, 224);
    font-size: 1.2rem;
}
button{
    width: 150px;
    height: 40px;
    margin: 25px auto 0px auto;
    font-family: Arimo;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    color: black;
    background-color: rgb(247, 200, 200);
}
button:hover{
    opacity: 0.9;
}